/*Adding Styles for the Header*/
.header{
    background-color: rgb(29, 127, 208);
    height: auto;
}

.header-container{
    color: white;
    margin: 0 auto;
    padding: 1em 0;
    max-width: 1120px;
    width: 90%;
    text-align: center;
}

.header-container h2{
    font-weight: 500;
    font-size: 1.8rem;
}

.header-container h1{
    font-weight: 500;
    font-size: 4rem;
}


/* Adding styles for the status bar */
.status-bar{
    
    background-color: white;
    height: 30px;
    display: flex;
    justify-content: center;
}

.status-bar-container{
    color: rgb(29, 127, 208);
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    max-width: 700px;
    width: 90%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}



.difficulty{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

/*Adding styles to the game section*/
.game{
    border: 2px solid;
}

.game-easy{
    display: none;
}

.game-easy,.game-hard{
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid coral;
}

.game-hard div{
    width: 150px;
    height: 130px;
    border: 2px solid red;
}







/*Adding default styles*/
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}