/*Adding Styles for the Header*/
.header{
    background-color: rgb(29, 127, 208);
    height: auto;
}

.header-container{
    color: white;
    margin: 0 auto;
    padding: 1em 0;
    max-width: 620px;
    width: 90%;
    text-align: center;
}

.header-container h2{
    font-weight: 500;
    font-size: 1.8rem;
}

.header-container h1{
    font-weight: 500;
    font-size: 4rem;
}


/* Adding styles for the status bar */
.status-bar{
    
    background-color: white;
    height: 30px;
    display: flex;
    justify-content: center;
}

.status-bar-container{
    color: rgb(29, 127, 208);
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    max-width: 600px;
    width: 90%;
    text-align: center;
    justify-content: space-between;
    /* align-items: center; */
}

.new, .status{
    display: flex;
    align-items: center;
}

.new{
    cursor: pointer;
}

.difficulty{
    display: flex;
    justify-content: space-around;
    width: 20%;
    
}

.difficulty div{
    cursor: pointer;
    height: 100%;
    padding: 0 0.2em;
    display: flex;
    align-items: center;
}


/*Adding styles to the game section*/
.game{
    background-color: rgb(44, 46, 44);
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
}

.game-easy,.game-hard{
    max-width: 490px;
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
}

.game-easy div,.game-hard div{
    width: 150px;
    height: 140px;
    border-radius: 25px;
    cursor: pointer;
}

.game-hard div{
    margin-bottom: 0.9em;
}

.inactive{
    display:none;
}

/* Additional styles */
.onButtonClick{
    background-color: rgb(29, 127, 208);
    color: white;
}

.hiddenVisibility{
    visibility: hidden;
}


/*Adding default styles*/
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    height:100vh;
    display: flex;
    flex-direction: column;
}